@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 2rem;
}

p, a {
  font-family: 'Lato', sans-serif;
}

/*Web content*/
  /*Navigation Bar----------------------*/
    .navbar {
      padding: 0.75%;
      display: flex;
      align-items: center;
      max-width: 100%;
      margin: 0 ;
      background-color: black;
      
    }
    .navbar .links {
      margin-left: auto;
    }
    .navbar a {
      margin-left: 16px;
      text-decoration: none;
      font-size: 1.3rem;
      color: white;
    }
    .links{
      padding-right: 2%;
    }
    .navbar a:hover{
      color: #025373;
    }

    .navbar sl-button::part(base){
      margin-left: 16px;
      font-size: 1.3rem;
    }
  
  /*End of Navigation bar stylings---------------------*/

  /* General Webpage stylings------------------------------------------*/

    .content {
      padding: 3% 10%;
      width: 80%;
    }

    .infoDump {
        border-bottom: 3px solid black;
        padding-bottom: 1.25%;
    }

    .infoDump h2, .infoDump h3, .infoDump sl-button::part(base){
      text-align: center;
    }
  
  /*End of General Webpage stylings---------------------*/

/*-----------------------Home page ---------------------------------*/
  #introImg {
    background-image: url("./images/pexels-pixabay-heroImg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
  }

  #introTxt{
    padding: 3% 5%;
    color: white;
  }

  #introTxt h1 {
    font-size: 2.8rem;
  }

  #introTxt h3{
    font-size: 2.4rem;
  }

  .introTitle, .sectionBtns {
    text-align: center;
  }

/*-----------------------About page ---------------------------------*/

/*-----------------------Nature in Decline page ---------------------------------*/

/*-----------------------Why bother page ---------------------------------*/

/*-----------------------How can I help page ---------------------------------*/

/* Responsive Design */

