@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Fonts */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
    margin-top: 0%;
    margin-bottom: 1%;
  }

  p, a {
    font-family: 'Lato', sans-serif;
  }

/*Web content*/
  /*Navigation Bar----------------------*/
    .navbar {
      display: flex;
      align-items: center;
      max-width: 100%;
      height: 80px;
      margin: 0 ;
      padding: 0 10%;
      background-color: black;
      transform: translateY(-6px);
    }

    .navbar .links {
      margin-left: auto;
    }

    .navbar a {
      margin-left: 16px;
      text-decoration: none;
      font-size: 1.3em;
      color: white;
    }

    .links{
      padding-right: 2%;
    }

    .navbar a:hover{
      color: #025373;
    }

    .hmbtn {
      transform: translateY(50px);
      cursor: pointer;
      max-height: initial;
      height: 180px;
    }

    .navbar sl-button::part(base){
      margin-left: 16px;
      font-size: 1.3em;
    }
  
  /*End of Navigation bar stylings---------------------*/

  /* General Webpage stylings------------------------------------------*/

    .content {
      padding: 2% 10% 3%;
      width: 80%;
    }

    .infoDump {
        border-bottom: 3px solid black;
        padding-bottom: 1.5%;
        padding-top: 1%;
        width: 100%;
        
    }

    .infoDump h2, .infoDump h3, .infoDump h4, .infoDump sl-button::part(base){
      text-align: center;
    }

    .sectionBtns, .info {
      width: 100%;
    }

    .info{
      display: flex;
      padding-bottom: 2%;
    }

    div h2 {
      text-align: center;
    }

    .info h2, .info h3 {
      text-align: center;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }

    .infoVids {
      margin: 2% 3%;
      display: inline-block;
      width: 40%;
    }
  
  /*End of General Webpage stylings---------------------*/

/*-----------------------Home page ---------------------------------*/
  #introImg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/pexels-ron-lach-heroImg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
  }

  #introTxt{
    padding: 3% 5%;
    color: white;
  }

  #introTxt h1 {
    font-size: 2.8em;
  }

  #introTxt h3{
    font-size: 2.4em;
    margin-bottom: 2%;
  }

  #introTxt h4{
    font-size: 2em;
    margin-bottom: 3%;
  }

  #introTxt h5 {
    font-size: 1.6em;
  }

  .introTitle, .sectionBtns {
    text-align: center;
  }

/*-----------------------About page ---------------------------------*/

/*-----------------------Nature in Decline page ---------------------------------*/
  .infoDetails{
    width: 60%;
    padding: 0 2.5%;
  }

  .infoDetails img {
    width: 600px;
  }

  .infoBtns{
    width: 40%;
    margin: 0 auto;
  }

  .infoBtns p{
    margin-top: 0;
  }

  .infoBtnsImgs{
    max-width: 600px;
    width: 50%;
    margin: 0;
    cursor: pointer;
  }

  .infoBtnsImgs:hover{
    opacity: 0.8;
  }

  .infoDetails h3 {
    text-align: initial;
  }

/*-----------------------Why bother page ---------------------------------*/

/*-----------------------How can I help page ---------------------------------*/
  .socials{
    text-align: center;
    margin-bottom: 2%;
  }

  .socialBtn{
    margin-right: 2%;
  }

  .infoHelpNature{
    width: 60%;
    padding: 5% 2.5%;
  }

/* Responsive Design */
  @media only screen and (max-width: 810px) {
    .navbar {
      padding: 0 5%;
      transform: translate(-4px, -8px);
    }

    .hmbtn {
      height: 150px;
      transform: translateY(34px);
    }

    .links {
      padding-right: initial;
    }

    .navbar a {
      margin-left: 10px;
    }

    .content {
      padding: 2% 5% 3%;
      width: 90%;
    }

    .info {
      padding-bottom: 5%;
    }

    .infoBtns {
      width: 50%;
    }

    .infoHelpNature {
      width: 50%;
      padding: 1% 2.5%;
    }

    .infoVids {
      margin: 0;
      width: initial;
    }

  } 

  @media only screen and (max-width: 800px){
    .hmbtn {
      height: 150px;
      transform: translateY(35px);
    }
  }

  @media only screen and (max-width: 428px){
    .hmbtn {
      transform: translateY(2px);
    }

    .navbar a {
      font-size: initial;
    }

    #introTxt h4, #introTxt h5 {
      font-size: initial;
    }

    #introTxt h5 {
      margin-bottom: 3%;
    }

    .navbar a {
      margin-left: 16px;
      font-size: initial;
    }

    .navbar sl-button::part(base) {
      margin-left: initial;
      font-size: 1.3em;
    }

    .navbar {
      padding: 0 1%;
    }

   

    .content {
      padding: 2% 2% 3%;
      width: 96%;
    }

    .info {
      display: block;
      padding-bottom: 1%;
    }

    .infoBtns {
      width: 100%;
    }

    .infoDetails {
      width: 98%;
      padding: 0 1%;
    }

    .infoHelpNature {
      width: 98%;
      padding: 1%;
    }

    .infoDetails h3 {
      text-align: center;
    }

    .infoVids {
      display: block;
      padding-bottom: 1.5%;
    }

    .socialBtn {
      margin-right: 2%;
      margin-bottom: 3%;
    }

    .infoDump {
      padding-bottom: 2.5%;
    }

  }

  @media only screen and (max-width: 425px){
    .hmbtn {
      transform: translateY(10px);
    }

    
  }

  @media only screen and (max-width: 412px){
    .hmbtn {
      transform: translateY(8px);
    }
  }

  @media only screen and (max-width: 384px){
    .hmbtn {
      transform: translateY(7px);
    }

    .navbar a {
      margin-left: 8px;
    }

    #introTxt h3 {
      font-size: 2.2em;
    }

    .content {
      padding: 2% 0 3%;
      width: 99%;
    }
    
  }

  @media only screen and (max-width: 360px){
    .hmbtn {
      transform: translateY(5px);
    }
  }
