@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Archivo Black', sans-serif;
}

p, a {
  font-family: 'Lato', sans-serif;
}

/*Web content*/
  /*Navigation Bar----------------------*/
    .navbar {
      padding: 0.75%;
      display: flex;
      align-items: center;
      max-width: 100%;
      margin: 0 ;
      background-color: black;
      
    }
    .navbar .links {
      margin-left: auto;
    }
    .navbar a {
      margin-left: 16px;
      text-decoration: none;
      font-size: 1.3rem;
      color: white;
    }
    .links{
      padding-right: 2%;
    }
    .navbar a:hover{
      color: #025373;
    }

    .navbar sl-button::part(base){
      margin-left: 16px;
      font-size: 1.3rem;
    }

.content {
  padding: 3% 10%;
  width: 80%;
}



/* Responsive Design */

